@page "/component"
<h3>Users</h3>
<table class="table">
        <thead>
            <tr>
                <th>amount</th>
                <th>description</th>
            </tr>
        </thead>
        <tbody>
           @* @foreach (var money in Moneys)
            {
                <tr>
                    <td>@money.Amount</td>
                    <td>@money.Description</td>
                </tr>
            }*@
        </tbody>
    </table>
    <br />
@*<input @bind="_Money.Amount" placeholder="amount" type="number"/>
<input @bind="_Money.Description" placeholder="description"/>*@
<button @onclick="Save">Save</button>



